*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    overflow: hidden; /* Para evitar barras de rolagem durante a chuva de emojis */
}

.all-container{
    width: 50%;
    height: 80%;
    border-radius: 30px;
    display: flex;
    align-items: center;
    background-image: linear-gradient(rgb(0, 0, 0, 0.6), rgb(21, 68, 21, 0.7));
    justify-content: center;
    flex-direction: column;
}

#game-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: relative;
}

main{
    background-image: linear-gradient(red, black);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.number-card {
    width: 50px;
    height: 50px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    user-select: none;
}

.correct {
    background-color: #27ae60;
}

.incorrect {
    background-color: #e74c3c;
}

#instruction-container {
    text-align: center;
    margin-bottom: 20px;
}

#result-message {
    text-align: center;
    margin-top: 13px;
    font-size: 18px;
    font-weight: bold;
}

#numbers-container {
    display: flex;
    flex-direction: column;
}

.number-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.emoji-rain {
    position: absolute;
    pointer-events: none;
    user-select: none;
    animation: emojiRainAnimation linear infinite;
}

@keyframes emojiRainAnimation {
    to {
        transform: translateY(100vh);
    }
}

#reset-page-btn button{
    background: none;
    border: none;
    background-color: #27ae60;
    width: 300px;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 10px;
}

#reset-page-btn button img{
width: 32px;
}